<div class="matx-popup-start">
    <div class="popup-header">
        <div class="clearfix popup-meta">
            <div class="pull-left item-description">
                <h3>M+Hospitali</h3>
            </div>
            <div class="item-screenshot"><img src="img/sgl/mplus/mplus.jpg" alt="portfolio popup">
                <div class="shot-count">
                    <div class="shot-count-inner">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect btn-highlight"><i class="zmdi zmdi-caret-up"></i>1</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="popup-left">
                        <div class="screenshot-module screenshot-preview">
                            <h4 class="title-third">PREVIEW</h4>
                            <div class="clearfix screenshots-list">
                                <a href="#" class="ajax-portfolio-details"><img src="img/sgl/mplus/mplus.jpg" alt="Portfolio Attachment Thumb"> </a>

                            </div>
                        </div>
                        <article class="screenshot-module popup-description">
                            <h4 class="title-third">DESCRIPTION</h4>
                            <p>System will help patient book appointments, receive a lerts, submit reports, send messages to the Doctor, and receive messages from the Doctor and track admission and discharge progress. On the other hand, the administrator (admin) will be able to access the database, respond to the patient and monitor how the Doctors are responding to the patient. Solution consists of integration part, Doctor’s Application, Patient Application and RSS.</p>
                        </article>
                    </div>
                </div>

            </div>
        </div>

    </div>
