<div class="matx-popup-start">
    <div class="popup-header">
        <div class="clearfix popup-meta">
            <div class="pull-left item-description">
                <h3>Revenue Collection System</h3>
            </div>
            <div class="item-screenshot"><img src="img/sgl/barms-android/5.jpg" alt="portfolio popup">
                <div class="shot-count">
                    <div class="shot-count-inner">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect btn-highlight"><i class="zmdi zmdi-caret-up"></i>3</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="popup-left">
                        <div class="screenshot-module screenshot-preview">
                            <h4 class="title-third">PREVIEW</h4>
                            <div class="clearfix screenshots-list">
                                <a href="#" class="ajax-portfolio-details"><img src="img/sgl/barms-android/5.jpg" alt="Portfolio Attachment Thumb"> </a>
                                <a href="#" class="ajax-portfolio-details"><img src="img/sgl/dashboard/1.jpg" alt="Portfolio Attachment Thumb"> </a>
                                <a href="https://bungomarevenue.co.ke" class="ajax-portfolio-details"><img src="img/sgl/barms-portal/1.jpg" alt="Portfolio Attachment Thumb"></a>
                            </div>
                        </div>
                        <article class="screenshot-module popup-description">
                            <h4 class="title-third">DESCRIPTION</h4>
                            <p>Consolidated cashiering solution built on electronic payment framework and designed to be a centralized payment system/ database for the county government to receive all types of revenue whether they are Taxes, Utilities, Permits, Fees, and Fines. The solution provides a single convergent platform for service providers to manage revenue collection in real time regardless of the type of customer, network, service, geography, or payment method. System works both offline and online.</p>
                            <p> An integrated revenue collection system is primarily a cash and receipt management- a highly centralized and fully automated payment processing system. It enables business to consolidate revenue across their operating branches at the end of the day and provides automated reconciliation (end of the day and start of the day) option to tellers for their cash management objectives.</p>
                            <p> This system enables payment options for multiple payment vouchers through a single cheque and supports active rollback and cancellation of stopped or blocked transactions. The system supports the payment transactions through various payments modes like cash, debit card, credit cards, prepaid cards, mobile money, cheques etc.</p>
                        </article>
                    </div>
                </div>

            </div>
        </div>

    </div>